body {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100vh;
}
section {
    display: flex;
    justify-content: space-around;
}
#container {
    display: flex;
}
#image {
    width: 100px;
    height: 100px;
}
.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
}
#text {
    margin-left: 25px;
}

@keyframes slide {
    0% {
        translate: 0 -100px;
        opacity: 0;
    }
    25% {
        translate: 0 0px;
        opacity: 100%;
    }
    75% {
        translate: 0 0px;
        opacity: 100%;
    }
    100% {
        translate: 0 100px;
        opacity: 0;
    }
}
