body {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100vh;
}
section {
    display: flex;
    justify-content: space-around;
}
#container {
    display: flex;
}
#image {
    width: 100px;
    height: 100px;
}
.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
}
#text {
    margin-left: 25px;
}

@keyframes slide {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    5% {
        transform: translateY(-100px);
        opacity: 0;
    }
    25% {
        transform: translateY(0);
        opacity: 1;
    }
    75% {
        transform: translateY(0);
        opacity: 1;
    }
    95% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(100px);
        opacity: 0;
    }
}
